.product{
    display: flex;
    margin-right: 1%;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}
.product-info{
    margin-left: 2.5%;
}
.product-title{
    color: blue;
    font-weight: 500;
}


.icon-color{
    color: goldenrod;
}